
.codeContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.code {
	border-radius: 5px;
	font-size: 30px;
	height: 50px;
	width: 50px;
	border: 1px solid;
	background-color: var(--nav-color);
	border: 0;
	margin: 1%;
	text-align: center;
	font-weight: 300;
	-moz-appearance: textfield;
	margin-left: 5px;
	color: white;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}