/* .ViewAllAuctions{
	margin-top: 10vh;
} */
/* .ViewAllAuctions {
	min-height: 140vh!important;
} */
.FilterAuctions {
	background-color: #262726;
	color: white;
	min-height: 100vh;
	margin-top: 55.9px;
	border-top: 1px solid white;
	position: fixed;
	width: fit-content;
	z-index: 1000;
}

.FilterAuctions > h4 {
	color: var(--main-color);
	font-weight: bold;
	padding: 15px;
}

.AllAuction {
	margin-top: 15vh;
	margin-bottom: 25px;
	position: relative;
}
.AuctionCategory {
	max-height: 35vh;
	overflow-y: scroll;
	padding: 15px;
}
.AuctionType label,
.AuctionCategory label {
	color: var(--paragraph-color) !important;
	font-weight: lighter !important;
	cursor: pointer;
}
.AuctionType label:hover,
.AuctionCategory label:hover {
	color: var(--main-color) !important;
}
.AuctionType {
	border-bottom: 1px solid #4a4949;
	padding: 10px;
}
.AuctionPrice > div > input {
	background-color: var(--overlay-dark) !important ;
	border-color: var(--overlay-dark) !important ;
	color: white !important	;
}
.AuctionPrice > div > input::placeholder {
	color: white !important	;
}

.btnFilter {
	margin-top: 20px !important;
	background-color: #34588f;
	color: white;
	position: absolute;
	bottom: 55px;
}

@media (max-width: 767.98px) {
	.AllAuction {
		margin-top: 10vh;
	}
	.FilterIcons {
		color: white;
		font-size: 25px;
	}

	.FilterAuctions {
		margin-top: 50px;
		width: 100%;
	}

	.hrLeft {
		left: 0px;
	}
	.hrRight {
		right: 0px;
	}
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
	.hrLeft {
		left: 15px;
	}
	.hrRight {
		right: 15px;
	}
}
