.card_container_Profile {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	padding: 2% 3%;

	width: 80%;
	margin: 0 10% 0;
}
.card_profile {
	background-color: rgb(160, 71, 71);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	width: 49%;
	display: inline-block;
	margin-left: 1%;
	padding: 2% 0;
}

.star {
	cursor: pointer;
	transition: color 200ms;
	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-ms-transition: color 200ms;
	-o-transition: color 200ms;
}
.star_con {
	top: 77%;
	position: absolute;
	margin-left: 15px !important;
}
.rate_input {
	background: none;
	border: none;
	border-bottom: 2px solid #6e6b6b96 !important;
	border-radius: unset;
	color: white !important;
	box-shadow: none;
	/* padding-bottom: 1%; */
}
.rate_input::placeholder {
	color: #a09b9b96 !important;
}
.rate_input:focus {
	background: none;
}
.addContainer {
	margin: 0 10%;
	width: 80% !important;
}
.save_rate_btn {
	position: absolute;
	top: 10%;
	width: fit-content !important;
	padding: 5px 20px;
	left: 62%;
	margin-left: 15px;
	/* margin-top: 1% !important; */
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	/* padding-top: 2px; */
}
.delete_review {
	margin-left: 1% !important;
	width: fit-content !important;
	border-radius: 4px !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	-ms-border-radius: 4px !important;
	-o-border-radius: 4px !important;
	position: absolute;
	top: 75%;
	left: 74%;
}
.update_btn {
	position: absolute;
	top: 74%;
	left: 62%;
	border-radius: 15px;
}

.reviews_list:before,
.reviews_list:after {
	background-color: white;
	content: '';
	display: inline-block;
	height: 1px;
	position: relative;
	vertical-align: middle;
	width: 42.5%;
}

.reviews_list:before {
	right: 0.5em;
	margin-left: -50%;
}

.reviews_list:after {
	left: 0.5em;
	margin-right: -50%;
}
.reviews_card {
	width: 80% !important;
	position: relative !important;
	margin: 5% 10%;
	border-radius: 25px;
	box-shadow: 0px 3px 4px #889090;
	padding: 5% 25px !important;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
}

.reviews_card h5,
.reviews_card p,
.reviews_card .star_container,
.reviews_card .cardDate {
	position: absolute;
	top: 37px;
	/* left: 20px; */
}
.reviews_card p {
	top: 37px;
	left: 187px;
}
.reviews_card .star_container {
	top: 45px;
	/* left: 70%; */
	right: 140px;
}
.reviews_card .cardDate {
	top: 15px;
	/* left: 0!important; */
	right: 20px;
	font-size: 14px;
}

/* ! Bar */
.chart-bar {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
}

.chart-bar__inner {
	height: 20px;
	width: 25%;
	border-radius: 12px;
	background-color: #e4e5e9;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chart-bar__fill {
	background-color: #ffc107;
	height: 20px;
	/* width: 100%; */
	transition: all 0.3s ease-out;
}

.chart-bar__label {
	font-weight: bold;
	font-size: 0.5rem;
	text-align: center;
}
/* !end Bar */

input:disabled {
	background: none !important;
}

@media screen and (max-width: 768px) {
		.reviews_list::after,
	.reviews_list::before {
		width: 26.5% !important;
	}
	.reviews_card {
		width: 100% !important;
		margin: 20% 0% !important;
		padding-bottom: 25% !important;
	}
	.card_container_Profile {
		width: 100% !important;
		margin: 10% 0% 0% !important;
	}
	.reviews_card .star_container {
		right: 15px;
	}
	.reviews_card .cardDate {
		right: 14px !important;
		font-size: 13px !important;
	}
	/* start reviews in buyer profile */
	.btn_compliment,
	.btn_chat {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		margin: 20px 0px;
	}
	.save_rate_btn {
		top: 3%;
		font-size: 12px !important;
		width: fit-content !important;
		padding: 3px 16px;
		left: 62%;
		margin-left: 15px;
	}
	.update_btn{
		position: absolute;
    top: 114%;
    left: 0%;
    width: 60%;
    border-radius: 15px;
	}
	.delete_review {
		top: 118%;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.reviews_card {
		padding-bottom: 10% !important;
	}
	.reviews_card .star_container {
		right: 100px;
	}
	/* start reviews in buyer profile */
	.btn_compliment,
	.btn_chat {
		position: relative !important;
		left: 0 !important;
		top: 0 !important;
		width: 30% !important;
		margin: 20px 5px;
		float: right;
	}
	.save_rate_btn {
		top: 35% !important;
		left: 70% !important;
	}
	.update_btn {
		top: 75% !important;
    left: 67% !important;
	}
	.delete_review {
		left: 90% !important;
		top: 76% !important;
	}

}

@media screen and (min-width: 991px) {
	.btn_compliment,
	.btn_chat {
		width: 15%!important;
		
	}
	.delete_review {left: 78%;}
}
