.filter {
	width: 30%;
	padding: 10px !important;
	margin-left: 58% !important;
	margin-bottom: 1%;
	background-color: #262525 !important;
	color: white !important;
	outline: none;
	border: none !important;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.filter::placeholder {
	color: white !important;
	opacity: 1;
	font-size: 14px !important;
}
.clear {
	margin-bottom: 1% !important;
	background-color: black !important;
	color: white !important;
}
