.Footer {
	background-color: #262726;
	min-height: 50vh;
	color: white;
	margin-top: 10vh;
}

.ContactUs,
.SocialMediaIcons {
	background-color: #2e2f32;
	text-align: center;
	padding: 10px 0px;
	font-weight: bold;
}
.SocialMediaIcons {
	padding-top: 15px;
}
.ContactStyle {
	margin: 0px 10px;
}
.ContactIcon {
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 50%;
}
.AddressIcon {
	padding: 10px 12px;
}

/* start FooterMoreDetails */

.FooterMoreDetails {
	padding-left: 25px;
	padding-top: 40px;
}

.FooterMoreDetails li {
	list-style: none;
	margin: 10px 0px;
	text-align: start !important;
}

.FooterMoreDetails h5 {
	font-weight: bold;
	padding-left: 30px;
}

.footerLinks {
	color: #5f5f5f;
	font-weight: bolder !important;
	font-size: 15px;
}
.footerLinks:hover {
	color: var(--main-color);
}

.Support {
	letter-spacing: 1px;
	color: #5f5f5f;
	font-weight: bolder !important;
	font-size: 15px;
	margin: 20px 0px 20px 0px;
}

.SupportLink {
	background-color: var(--main-color);
	color: white;
	padding: 10px 40px;
	border-radius: 5px;
	margin-left: 10px;
	border-color: var(--main-color);

}

.SupportLink:hover {
	background-color: var(--main-color);
	color: white;
}

@media (max-width: 992px) {
	.Support {
		margin: 10px 0px 30px 30px !important ;
		width: 80%;
	}
	.ContactStyle {
		margin-left: 0;
		margin-top: 15px !important;
	}
}
