.Header {
	background-image: url('.././../../assets/pexels-abhilash-sahoo-4413295.jpg');
	background-size: cover;
	background-position: center;
	height: 70vh;
}

.overlay {
	background-color: var(--overlay-dark);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.HeaderContent {
	/* height: 70vh; */
	margin: 20vh auto;
	width: 80%;
	z-index: 100;
}

.HeaderContent h2 {
	color: var(--main-color) !important;
	font-weight: bolder;
}
.HeaderContent h4 {
	word-spacing: 4px;
}
@media screen and (max-width: 992px) {
	.Header {
		height: 40vh;
	}
	.HeaderContent {
		margin-top: 15vh !important;
	}
}

@media screen and (max-width: 768px) {
	.Header {
		height: 50vh;
	}
	.HeaderContent {
		width: 100%;
		margin-top: 20vh !important;
	}
	.HeaderContent h2 {
		font-size: 20px !important;
	}
	.HeaderContent h4 {
		font-size: 16px !important;
	}

	nav {
		padding: 0 !important;
	}
	.navbarBrand {
		font-size: 15px !important;
		font-weight: bold;
		font-size: 15px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.Header {
		height: 70vh;
	}
}
