.code-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
}

.code {
	border-radius: 5px;
	font-size: 30px;
	height: 50px;
	width: 50px;
	border: 1px solid;
	background-color: #fff;
	border: 1px solid var(--btnActive-color);
	outline-width: thin;
	outline-color: #5e5f5e;
	margin: 1%;
	text-align: center;
	font-weight: 300;
	-moz-appearance: textfield;
	margin-left: 5px;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

.button {
	border-radius: 5px;
	margin-top: 20px;
	font-size: 30px;
	margin: 1%;
	text-align: center;
	align-items: center;
}

.info {
	background-color: #eaeaea;
	display: inline-block;
	padding: 10px;
	margin-top: 30px;
	line-height: 20px;
	max-width: 400px;
	color: #777;
	border-radius: 5px;
}

@media (max-width: 600px) {
	.code-container {
		flex-wrap: wrap;
	}

	.code {
		font-size: 60px;
		height: 80px;
		max-width: 70px;
	}
}
