.imageProfile {
	width: 200px !important;
	height: 200px !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	/* margin: 15px; */
	margin: 30px 0px;
}

.UpdateAccount {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.btnChangeImage {
	position: absolute;
	bottom: 25px;
	/* left: 3%; */
	border-radius: 50%;
	padding: 2px 5px;
	background: none;
}
.btnChangeImage > svg {
	color: white !important;
	font-size: 25px;
}
.bntstyl {
	margin-left: 67%;
	width: 30%;
	margin-top: 10px ;
}
.btnCh {
	margin-left: 66%;
	width: 30%;
	margin-top: 10px !important;

}
