.ChatContentInput {
	position: absolute;
	bottom: 0;
	background-color: black;
	color: white;
	font-weight: bolder;
	border: 0;
	border-left: 2px solid;
	width: 100% !important;
	border-radius: 0;
	padding: 10px;
	padding-left: 30px;
	z-index: 100;
}
.ChatContentInput:focus {
	color: black;
}
.ChatContentButton {
	position: absolute;
	bottom: 0;
	right: 0;
	border: 0;
	background-color: #22385c;
	color: white;
	border-radius: 0;
	z-index: 1000;
	box-shadow: none;
	cursor: pointer;
}

.ChatContentButton > svg {
	font-size: 20px;
	margin-top: 9px;
}

.ChatContentButton:focus {
	box-shadow: none;
	background-color: #22385c;
}

.Messages {
	width: 100%;
	padding: 0px 10px 50px 10px;
	margin-bottom: 20px;
}

.messageFromMe,
.messageFromOther {
	color: white;
	width: 100%;
	display: flex;
	flex-direction: row;
	transition: all 0.5s;
	margin-top: 15px;
}
.messageFromMe {
	justify-content: end;
	flex-direction: row-reverse;
}
.messageFromOther {
	align-items: flex-start;
}

.messageFromMe .MessageContent,
.messageFromOther .MessageContent {
	background-color: #22385c;
	width: fit-content;
	margin: 15px 5px 0px 5px;
	padding: 5px 20px 10px 20px;
	border-radius: 5px !important;
	position: relative;
}

.messageFromMe .MessageContent {
	background-color: #22385c;
}
.messageFromOther .MessageContent {
	background-color: var(--dark-color);
	border-top-left-radius: 0px !important;
}

.messageFromMe .MessageContent::before {
	position: absolute;
	top: -8px;
	right: 0;
	content: '';
	border-width: 10px;
	border-color: transparent #22385c transparent transparent;
	border-style: solid;
	transform: rotate(20deg);
}

.messageFromOther .MessageContent::before {
	position: absolute;
	top: 0px;
	left: -5px;
	content: '';
	border-width: 10px;
	border-color: var(--dark-color) transparent transparent transparent;
	border-style: solid;
	transform: rotate(20deg);
}

.messageFromOther .MessageContent p,
.messageFromMe .MessageContent p {
	padding: 0;
	margin: 0;
}

.MessageTime {
	display: block;
	width: 100%;
	font-size: 10px !important;
	padding-left: 45px !important;
	padding-right: 45px !important;
	color: rgb(55, 55, 55);
	margin-bottom: 35px;
}

.Email {
	background-color: white;
	color: #191c20;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	text-align: center;
	font-size: 20px !important;
	font-weight: bold;
}

.isShownEmailAddress {
	position: absolute;
	/* top: -10px; */
	margin-top: -65px;
	margin-right: 100px;
	background-color: #191c20;
	padding: 1px;
	color: rgb(87, 87, 87);
	/* font-weight: bold */
	display: none;
}

.isShownEmailAddress::after {
	position: absolute;
	top: 0px;
	right: -100px;
	content: '';
	border-width: 10px;
	border-color: white transparent transparent transparent;
	border-style: solid;
	/* transform: rotate(20deg); */
}
